@media screen and (max-width: 460px){ 
    header .whapper{
        display: flex;
        flex-direction: column; 
    }
    .botao{
        margin-top: 5px;
        width: 190px;
        height: 50px;
        font-size: 13px;
    }      
    .descricao{
        width: 50%;
    }

}

@media screen and (max-width: 700px){
    .botao{
        margin-top: 5px;
        width: 190px;           
    }
    .descricao{
        width: 60%;
    }
}
