
body{
    background-color: whitesmoke;
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;

}

a:hover{
    color:turquoise;
}

